header {
    /* height: 900px; */
    background: var(--secondary);
}

.button {
    font-family: var(--body-text) !important;
    padding: 10px 24px;
    border-radius: 6px;
    border: 1px solid #1e1e1e;
    text-decoration: none;
    text-align: center;
}

.column-wrapper {
    max-height: 900px;
    overflow: hidden;
}

#contact-button {
    background-color: white;
    color: var(--primary);
}

#projects-button {
    background-color: var(--primary);
    color: white;
}

.profile-picture-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 32px;
}

.preview-column {
    position: relative;
    width: 319px;
}

#preview-column-left {
    bottom: 152px;
}

.preview-project-img {
    height: 340px;
    flex-shrink: 0;
    border-radius: var(--radius-medium);
    gap: 64px;
}

@media screen and (max-width: 992px) {
    header {
        max-height: 50%;
    }
    .column-wrapper {
        height: 100%;
        overflow: hidden;
    }
    .profile-picture-img {
        display: flex;
        justify-content: center;
    }
    .preview-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8.1px;
        max-height: 450px;
    }
    .preview-project-img {
        width: 160px;
        height: 170px;
    }
    #preview-column-left {
        bottom: 76px;
    }
}
