header {
    /* height: 900px; */
    background: var(--secondary);
}

.button {
    font-family: var(--body-text) !important;
    padding: 10px 24px;
    border-radius: 6px;
    border: 1px solid #1e1e1e;
    text-decoration: none;
    text-align: center;
}

/* .column-wrapper {
    max-height: 600px;
} */

#contact-button {
    background-color: white;
    color: var(--primary);
}

#projects-button {
    background-color: var(--primary);
    color: white;
}

.profile-picture-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 32px;
}

.preview-column {
    position: relative;
    width: 319px;
}

.preview-column div {
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-medium);
    gap: 64px;
}

#preview-column-left {
    bottom: 152px;
}

.preview-project-img {
    /* width: 100%; */
    /* height: 340px; */
    /* border-radius: var(--radius-medium); */

}

.carousel-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.carousel-inner {
    width: 100%;
    height: 340px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 25px !important;
    background-color: rgba(30, 30, 30, 0.85);
    border-radius: 50%;
    padding: 1em;
    filter: invert(1);
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0 1em;
    opacity: 1;
    transition: opacity 0.2s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.8;
}

@media screen and (max-width: 992px) {
    header {
        max-height: 50%;
    }
    .column-wrapper {
        height: 100%;
        overflow: hidden;
    }
    .profile-picture-img {
        display: flex;
        justify-content: center;
    }
    .preview-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8.1px;
        max-height: 450px;
    }
    .preview-project-img {
        width: 160px;
        height: 170px;
    }
    #preview-column-left {
        bottom: 76px;
    }
}
